.contenedor{
    display: flex;
    justify-content: center; /*centra horizontal */
    align-items: center; /*centra vertical */
    min-height: 50vh; /*Ocupa el Alto de la Pantalla */
}
.formulario{
    width: 40%;
    height: 30%;
    background-color: lightgrey;
    text-align: center;
    border-radius: 10px;
    
}

label{
    display: block;
    color: rgb(3, 3, 51);
    font-weight: 600;
    font-size: larger;
    margin-top: 15px;
    margin-bottom: 10px;
}

button{
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    font-weight: 900;
    font-size: medium;
    margin-top: 10px;
    color: rgb(6, 6, 152);
    margin-bottom: 10px;
}
.titulo{
    color: blue;
    font-size: 20px;
    font-weight: bolder;

}
